<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaibhav">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="RAKT"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppealModule.ViewMyDonorActivity"></activity>
        <activity android:name=".HelpModule.CheckBloodBankDetailsActivity" />
        <activity android:name=".ManageDatabase.UpdataDatabase" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".PushNotificationModules.VolunteerActivity" />
        <activity android:name=".AppealModule.AnalyzeAppealActivity" />
        <activity android:name=".HelpModule.ViewAppealActivity" />
        <activity android:name=".AppealModule.PostAppealActivity" />
        <activity android:name=".LoginModule.CreateBloodBankActivity" />
        <activity android:name=".LoginModule.CreateNormalUserActivity" />
        <activity android:name=".Home" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>